.App {
  background-attachment: fixed;
  background-position: center;
  background-repeat: repeat;
  background-color: aliceblue;
  padding-top: 4rem;
  min-height: 100vh;
}

.navbar {
  background-color: #b60a07 !important;
}
